[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
EnvironmentFile={{ k8s_cfg_dir }}/kube-apiserver.conf
ExecStart={{ k8s_bin_dir }}/kube-apiserver $KUBE_APISERVER_OPTS
Restart=always
RestartSec=5
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
