[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile={{ k8s_cfg_dir }}/kube-scheduler.conf
ExecStart={{ k8s_bin_dir }}/kube-scheduler $KUBE_SCHEDULER_OPTS
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
