KUBE_CONTROLLER_MANAGER_OPTS="--bind-address=0.0.0.0 \
  --allocate-node-cidrs=true \
  --cluster-cidr={{ CLUSTER_CIDR }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ k8s_ca_dir }}/ca.pem \
  --cluster-signing-key-file={{ k8s_ca_dir }}/ca-key.pem \
  --kubeconfig=/opt/kubernetes/cfg/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --node-cidr-mask-size={{ NODE_CIDR_LEN }} \
  --root-ca-file={{ k8s_ca_dir }}/ca.pem \
  --service-account-private-key-file={{ k8s_ca_dir }}/ca-key.pem \
  --service-cluster-ip-range={{ SERVICE_CIDR }} \
  --use-service-account-credentials=true \
  --v=2"
